.DislikeButton {
  font-family: 'Coiny', cursive;
  font-size: 18px;
  position: relative;
  right: 130px;
  bottom: 130px;
  background: red;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  margin-right: 50px;
  width: 100px;
  height: 100px;
  line-height: 30px;
  margin: 0 .5em;
  display: inline-block
}

.LikeButton {

  position: relative;
  font-family: 'Coiny', cursive;
  font-size: 18px;
  left: 130px;
  bottom: 130px;
  background: green;
  border: none;
  color: #fff;
  border-radius: 50% 50%;
  margin-right: 50px;
  width: 100px;
  height: 100px;
  line-height: 30px;
  margin: 0 .5em;
}



button:focus {outline:0;}
