.Matches-container{
  display: flex;
  margin-bottom: 50px;
  margin-top: 50px;
}

.Match {
  flex: 1;
}

.Matches {
  
}

.sniffing-btn {
  display: inline-block;
  margin: 100px;
}

.title {
  margin: 50px;
}
