.title {
  margin-bottom: 100px;
}

.preferences-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.preferred {
  flex: 1;
  flex-wrap: wrap;
}

.Preferences {
  padding-top: 50px;
}

.more {
  margin-top: 100px;
}
